:root {
  --background-color: #eff5ff;
  --white: #fff;

  --primary-color: #022959;
  --secondary-color: #9699aa;
  --secondary-color-opacity: rgba(150, 153, 170, 0.2043);
  --border-color: #d6d9e6;
  --border-color-active: #483eff;
  --border-color-error: #ee374a;
  --inactive-font-color: #abbcff;
  --progress-background-color-active: #bee2fd;
  --btn-background-color-active: #164a8a;
  --btn-confirm-background-color-active: #928cff;
  --form-2-option-background-color-active: #f8f9ff;
}
