.form-1 {
  display: inline;
  // display: none;
}

.input-title {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.609rem;
  font-weight: 400;
  color: var(--primary-color);
}

.input-text {
  border: none;
  margin-left: 1.6rem;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.838rem;
  font-weight: 500;
  color: var(--primary-color);

  &::placeholder {
    color: var(--secondary-color);
    font-weight: 500;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    max-width: 45rem;
    border: 1px solid var(--border-color);
    height: 4.8rem;
    border-radius: 0.8rem;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid var(--border-color-active);
    }
  }
}

.label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}

.missing-text {
  font-size: 1.4rem;
  line-height: 1.609rem;
  font-weight: 700;
  color: var(--border-color-error);
}

.error-border {
  border: 1px solid var(--border-color-error);
}

.hidden {
  display: none;
}
