.heading-primary {
  font-size: 3.2rem;
  line-height: 3.677rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1.1rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.838rem;
  color: var(--primary-color);
}

.form-instructions {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 3.5rem;
}
